{% block content %}
    {% for comment in comment_list %}
        <div class="card mt-3">

            {{ comment.text }}
            <div class="card-footer">
                <p class="card-text">{{ comment.author }} | {{ comment.created_at }} {% if user == comment.author %}
                    <a class="float-right" href="{% url 'webapp:comment_update'  comment.pk %}">Edit</a>
                    <a href="{% url 'webapp:comment_delete'  comment.pk %}">Delete</a>
                {% endif %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}